services:
  landingo:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "4321:4321"
    container_name: landingo
    restart: unless-stopped
    environment:
      - NODE_ENV=development
    
