@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --color-primary: #5356FF;
  --color-secondary: #378CE7;
  --color-tertiary: #67C6E3;
  --color-quaternary: #DFF5FF;
}

body {
  font-family: var(--font-display);
}
