name: Build Vue Application

on:
  push:
    branches:
      - master # or master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24' # Use a relevant Node.js version

    - name: Install dependencies
      run: npm install

    - name: Build the application
      run: npm run build
      # The build output is typically in the 'dist' directory

    # Optional: You can add steps to upload the build artifact
    # - name: Upload artifact
    #   uses: actions/upload-pages-artifact@v3
    #   with:
    #     path: './dist'
